<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="cursor: pointer">Veg Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!isUserLoggedIn">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" routerLink="/register">Register <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isUserLoggedIn">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/home">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/details">Details </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/others"> Others</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item pr-3">
        <a class="nav-link">
          <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 2vw; color: #000"></i>
          <span class="badge badge-secondary" style="position: absolute; font-size: 0.75vw !important; background: black">{{cartValue}}</span>
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" style="cursor: pointer">Logout</a>
        </li>
      </ul>
  </div>
</nav>