<!-- topnav component -->
<!-- <app-top-nav></app-top-nav>


<router-outlet></router-outlet> -->
<h2>Task</h2>

<!-- <table class="table table-striped" *ngFor="let tab of retObj | keyvalue; let i = index">
  <h3>{{Object.keys(retObj)| json}}</h3>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">End Date</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of tab[Object.keys(retObj)[i]]">
      <td>{{user.name}}</td>
      <td>{{user.endDate}}</td>
      <td>{{user.priority}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <h3>Meeting Task</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">End Date</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of retObj.Meeting_Task">
      <td>{{user.name}}</td>
      <td>{{user.endDate}}</td>
      <td>{{user.priority}}</td>
    </tr>
  </tbody>
</table> -->


<!-- <p *ngFor="let tab of myObj | keyvalue; let i = index">====</p> -->

<app-table-component [tableData]="data"></app-table-component>





